<ion-header>
  <ion-toolbar>
    <ion-title>credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="text-center">Otr8</h1>
  <div class="d-flex justify-content-center mb-4">
    <img src="https://otr8.site/assets/img/logo.png" [style]="{'width': '35%'}">
  </div>
  <div class="d-flex ion-justify-content-center mb-4">
    <div class="w-75 border border-light bg-white"></div>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-column mb-5">
    <img src="https://marill.dev/img/minimecool.png" [style]="{'width': '25%'}">
    <h2 class="m-0">Damien Marill</h2>
    <a href="https://marill.dev" target="_blank"><h5 class="m-0">https://marill.dev</h5></a>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-column mb-5">
    <img src="https://math98.fr/img/avatar.png" [style]="{'width': '25%'}">
    <h2 class="m-0">Mathieu Servière</h2>
    <a href="https://math98.fr/" target="_blank"><h5 class="m-0">https://math98.fr</h5></a>
  </div>
  <div class="d-flex justify-content-center align-items-center flex-column mb-5">
    <img src="https://leocolomina.fr/content/img/Leo_Colomina.jpg" [style]="{'width': '25%', 'border-radius': '50%'}">
    <h2 class="m-0">Léo Colomina</h2>
    <a href="https://leocolomina.fr/" target="_blank"><h5 class="m-0">https://leocolomina.fr</h5></a>
  </div>
  <div class="d-flex ion-justify-content-center mb-4">
    <div class="w-75 border border-light bg-light"></div>
  </div>
  <h5 class="px-3 mb-5 text-center">Icon de virus pour le logo fait par <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> sur <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></h5>
</ion-content>
