<ion-header>
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3>Mode sombre <fa-icon *ngIf="!darkmode.darkmode" [icon]="faFont.faSun"></fa-icon><fa-icon *ngIf="darkmode.darkmode" [icon]="faFont.faMoon"></fa-icon></h3>
  <div class="custom-control custom-switch mb-4">
    <input type="checkbox" class="custom-control-input" id="toggneDark" (change)="darkmode.toggle()" [checked]="darkmode.darkmode">
    <label class="custom-control-label" for="toggneDark"><span *ngIf="!darkmode.darkmode">Activer le mode sombre</span><span *ngIf="darkmode.darkmode">Désactiver le mode sombre</span></label>
  </div>
  <h3>Profils</h3>
  <a class="btn btn-outline-info mb-3" [routerLink]="['/parametres/create']"><fa-icon [icon]="faFont.faPlus" class="mr-2"></fa-icon>Nouveau profil</a>
  <accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group *ngFor="let user of auth.getUsers()" [heading]="user.prenom + ' ' + user.nom + ' ' + user.label">
      <p>Né le <b>{{user.dateNaissance | date:'fullDate' : '' : 'fr-FR'}}</b>  à <b>{{user.lieuNaissance}}</b>.</p>
      <p>Adresse : <b>{{user.adresse}}</b>, <b>{{user.codePostal}} {{user.ville}}</b></p>
      <button (click)="confirmSuppr(user.id)" type="button" class="btn btn-danger mr-2"><fa-icon [icon]="faFont.faTrash" class="mr-2"></fa-icon> Supprimer</button>
      <a [routerLink]="['create/'+user.id]" class="btn btn-info"><fa-icon [icon]="faFont.faEdit" class="mr-2"></fa-icon> Modifier</a>
    </accordion-group>
  </accordion>
  <hr>
  <h3>Crédits</h3>
  <a class="btn btn-outline-primary" [routerLink]="['credits']"><fa-icon [icon]="faFont.faTerminal" class="mr-2"></fa-icon>Consulter les crédits</a>
</ion-content>
