<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <fa-icon [icon]="faFont.faFileAlt"></fa-icon>
      <ion-label>En cours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="unique">
      <fa-icon [icon]="faFont.faRoute"></fa-icon>
      <ion-label>Unique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recurente">
      <fa-icon [icon]="faFont.faRedoAlt"></fa-icon>
      <ion-label>Récurente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametres">
      <fa-icon [icon]="faFont.faCog"></fa-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
