<ion-header>
  <ion-toolbar>
    <ion-title><span *ngIf="user.id === undefined">Nouveau</span><span *ngIf="user.id !== undefined">Modifier le</span> profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input type="text" class="form-control" min="0" id="prenom" formControlName="prenom" [ngClass]="setclassinput('prenom')">
    </div>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" min="0" id="nom" formControlName="nom" [ngClass]="setclassinput('nom')">
    </div>
    <div class="mb-3">
      <label for="dateNaissance" class="form-label">Date de naissance</label>
      <input type="date" class="form-control" min="0" id="dateNaissance" formControlName="dateNaissance" [ngClass]="setclassinput('dateNaissance')">
    </div>
    <div class="mb-3">
      <label for="lieuNaissance" class="form-label">Lieu de naissance</label>
      <input type="text" class="form-control" min="0" id="lieuNaissance" formControlName="lieuNaissance" [ngClass]="setclassinput('lieuNaissance')">
    </div>
    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse</label>
      <input type="text" class="form-control" min="0" id="adresse" formControlName="adresse" [ngClass]="setclassinput('adresse')">
    </div>
    <div class="mb-3">
      <label for="ville" class="form-label">Ville</label>
      <input type="text" class="form-control" min="0" id="ville" formControlName="ville" [ngClass]="setclassinput('ville')">
    </div>
    <div class="mb-3">
      <label for="codePostal" class="form-label">Code postal</label>
      <input type="text" class="form-control" min="0" id="codePostal" formControlName="codePostal" [ngClass]="setclassinput('codePostal')">
    </div>
    <div class="mb-4">
      <label for="label" class="form-label">Suffixe</label>
      <input type="text" class="form-control" min="0" id="label" formControlName="label" [ngClass]="setclassinput('label')">
    </div>
    <div class="mb-3">
      <label class="form-label m-0">Nom d'affichage</label>
      <small class="form-text text-muted mt-0 mb-1">Il permet d'identifier votre profil dans l'application, il n'est pas contenu dans vos attestations.</small>
      <input type="text" class="form-control" [disabled]="true" [value]="displayValue()">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Valider</button>
  </form>
</ion-content>
