<ion-header>
  <ion-toolbar>
    <ion-title>Attestations à venir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="lstAttestation[0]">
    <accordion [isAnimated]="true" [closeOthers]="true" class="pt-4">
      <div *ngFor="let attestation of lstAttestation; index as i">
        <accordion-group>
          <button class="btn btn-link btn-block clearfix p-0" accordion-heading type="button">
            <div class="pull-left float-left">
                    <span class="mx-2" *ngFor="let raison of attestation.motifs">
                        <fa-icon class="mr-2" [icon]="motifService.getIcon(raisonsAttestation[raison].icon)"></fa-icon>{{raisonsAttestation[raison].titre}}
                    </span>
            </div>
            <span class="float-right pull-right" *ngIf="moment().format('DD/MM/YYYY') == moment(attestation.sortie).format('DD/MM/YYYY')">{{moment(attestation.sortie).format('HH:mm')}}</span>
            <span class="float-right pull-right" *ngIf="!moment(attestation.sortie).subtract(7, 'days').isAfter(moment()) && moment(attestation.sortie).subtract(1, 'days').isAfter(moment())">{{moment(attestation.sortie).locale("Fr").format('dddd')}}</span>
            <span class="float-right pull-right" *ngIf="moment(attestation.sortie).subtract(7, 'days').isAfter(moment())">{{moment(attestation.sortie).locale("Fr").format('DD/MM/YYYY')}}</span>
          </button>
          <div>
            <div class="d-flex ion-justify-content-center flex-wrap">
              {{auth.getUser(attestation.profil).prenom}} {{auth.getUser(attestation.profil).nom}} {{auth.getUser(attestation.profil).label}}<span class="ml-2"></span>
            </div>
            <div class="d-flex ion-justify-content-center flex-wrap mb-3">
              {{moment(attestation.sortie).format('DD/MM/YYYY HH:mm')}}
            </div>
            <div class="d-flex justify-content-center">
              <qrcode [qrdata]="getqrTxt(i)" [width]="qrW" margin="1" [colorDark]="colorQr" [errorCorrectionLevel]="'M'" (click)="openModal(descModal, i)"></qrcode>
            </div>
          </div>
        </accordion-group>
      </div>
    </accordion>
  </div>
  <div *ngIf="!lstAttestation[0]">
    <h1 class="text-center mt-5 px-4">Tu n'as pas prévu d'attestations pour le futur.</h1>
    <div class="d-flex justify-content-center">
      <img src="assets/dufutur.gif" class="my-5 w-75">
    </div>
  </div>
</ion-content>
<ng-template #descModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0">Détail de l'attestation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pb-5">
    <h3 class="mb-2 mt-3"><fa-icon [icon]="faFont.faAddressCard" class="mr-2"></fa-icon>Nom</h3>
    <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).nom}}</h4>
    <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faUser" class="mr-2"></fa-icon>Nom</h3>
    <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).prenom}}</h4>
    <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faBirthdayCake" class="mr-2"></fa-icon>Naissance</h3>
    <h4 class="ml-3 my-0">{{moment(auth.getUser(selectAttest.profil).dateNaissance).format('DD/MM/YYYY') + ' à ' + auth.getUser(selectAttest.profil).lieuNaissance}}</h4>
    <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faMapMarkedAlt" class="mr-2"></fa-icon>Adresse</h3>
    <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).adresse + ' ' + auth.getUser(selectAttest.profil).codePostal + ' ' + auth.getUser(selectAttest.profil).ville}}</h4>
    <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faClock" class="mr-2"></fa-icon>Sortie</h3>
    <h4 class="ml-3 my-0">{{moment(selectAttest.sortie).format('DD/MM/YYYY') + ' à ' + moment(selectAttest.sortie).format('HH:mm')}}</h4>
    <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faDoorOpen" class="mr-2"></fa-icon>Motifs</h3>
    <h4 class="ml-3 my-0">{{getLstMotifs(selectAttest.motifs)}}</h4>
  </div>
</ng-template>
