<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle attestation récurente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <form [formGroup]="attestForm" (ngSubmit)="addAttest()">
    <div class="mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input type="text" class="form-control" id="titre" formControlName="titre" [ngClass]="setclassinput('titre')">
    </div>
    <div class="mb-3">
      <label for="profil" class="form-label">Profil</label>
      <select class="form-control" id="profil" formControlName="profil" [ngClass]="setclassinput('profil')">
        <option></option>
        <option *ngFor="let profil of lstProfils" [value]="profil.id">{{profil.prenom}} {{profil.nom}} {{profil.label}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label>Jours de sortie</label>
      <div class="joursBtns d-flex ion-justify-content-around">
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Monday" (change)="onCheckChange('Monday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">L</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Tuesday" (change)="onCheckChange('Tuesday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">M</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Wednesday" (change)="onCheckChange('Wednesday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">M</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Thursday" (change)="onCheckChange('Thursday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">J</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Friday" (change)="onCheckChange('Friday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">V</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Saturday" (change)="onCheckChange('Saturday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">S</span>
        </label>
        <label class="m-2">
          <input type="checkbox" formControlName="jours" value="Sunday" (change)="onCheckChange('Sunday', jourSelected)">
          <span class="p-1 checkmark d-block text-center" style="width: 2rem; height: 2rem;">D</span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label for="sortie" class="form-label">Heure de sortie</label>
      <input type="time" class="form-control" id="sortie" formControlName="sortie" [ngClass]="setclassinput('sortie')">
    </div>
    <div class="mb-5">
      <label>Motifs</label>
      <button type="button" class="btn btn-secondary d-block m-2" (click)="openModal(descModal)">Descriptif des motifs</button>
      <div class="motifsBtns d-flex flex-wrap justify-content-around">
        <span *ngFor="let motif of raisons; index as i">
          <label *ngIf="motif.active" class="m-2">
            <input type="checkbox" formControlName="motif" [value]="i" (change)="onCheckChange(i, motifsSelected)">
            <span class="p-2 checkmark {{motif.value}}" [style]="{'border-color': motif.color, 'color': motif.color, 'background-color': motif.color}"><fa-icon class="mr-2" [icon]="motifService.getIcon(motif.icon)"></fa-icon>{{motif.titre}}</span>
          </label>
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!attestForm.valid || motifsSelected[0] === undefined || jourSelected[0] === undefined">Créer l'attestation</button>
  </form>
</ion-content>
<ng-template #descModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0">Descriptif des motifs</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let motif of raisons">
      <h5 [style]="{'color': motif.color}"><fa-icon [icon]="motifService.getIcon(motif.icon)" class="mr-2"></fa-icon>{{motif.titre}}</h5>
      <p class="mb-4 ml-3 ion-text-justify">{{motif.desc}}</p>
    </div>
  </div>
</ng-template>
