<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ng-template #updtModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0">Mise à jour</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="mb-5">Une nouvelle version est disponible, vous pouvez la télécharger à partir du lien suivant</p>
    <p class="text-center"><a class="btn btn-primary" [href]="APPDL"><fa-icon [icon]="faDownload" class="mr-2"></fa-icon>Télécharger</a></p>
  </div>
</ng-template>
