<ion-content [fullscreen]="true" class="ion-padding">
    <div class="alert alert-warning" *ngIf="later[0]">
        Toutes vos attestations ne sont pas affichées, elles le seront une heure avant le début de l'heure de sortie.<br>
        <a [routerLink]="['/home/futur']" class="underline">Consulter</a>
    </div>
    <div *ngIf="lstAttestation[0]">
        <div class="d-flex flex-column align-items-center mb-5">
            <div>
                <h1 class="mt-0 text-center">{{auth.getUser(lstAttestation[0].profil).prenom}} {{auth.getUser(lstAttestation[0].profil).nom}} {{auth.getUser(lstAttestation[0].profil).label}}</h1>
                <h2 class="d-flex flex-wrap ion-justify-content-center text-center"><span class="mx-2" *ngFor="let raison of lstAttestation[0].motifs" [style]="{'color': raisonsAttestation[raison].color}"><fa-icon class="mr-2" [icon]="motifService.getIcon(raisonsAttestation[raison].icon)"></fa-icon>{{raisonsAttestation[raison].titre}}</span></h2>
                <h1 class="text-center">{{moment(lstAttestation[0].sortie).format('HH:mm')}}</h1>
            </div>
            <qrcode [qrdata]="getqrTxt(0)" [width]="qrW" margin="1" [colorDark]="colorQr" [errorCorrectionLevel]="'M'" (click)="openModal(descModal, 0)"></qrcode>
        </div>
        <h1 *ngIf="lstAttestation[1]">Vos autres attestations</h1>
        <accordion [isAnimated]="true" [closeOthers]="true">
            <div *ngFor="let attestation of lstAttestation; index as i; first as isFirst">
                <accordion-group *ngIf="!isFirst">
                    <button class="btn btn-link btn-block clearfix p-0" accordion-heading type="button">
                        <div class="pull-left float-left">
                    <span class="mx-2" *ngFor="let raison of attestation.motifs">
                        <fa-icon class="mr-2" [icon]="motifService.getIcon(raisonsAttestation[raison].icon)"></fa-icon>{{raisonsAttestation[raison].titre}}
                    </span>
                        </div>
                        <span class="float-right pull-right">{{moment(attestation.sortie).format('HH:mm')}}</span>
                    </button>
                    <div>
                        <div class="d-flex ion-justify-content-center flex-wrap mb-3">
                            {{auth.getUser(attestation.profil).prenom}} {{auth.getUser(attestation.profil).nom}} {{auth.getUser(attestation.profil).label}}<span class="ml-2"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <qrcode [qrdata]="getqrTxt(i)" [width]="qrW" margin="1" [colorDark]="colorQr" [errorCorrectionLevel]="'M'" (click)="openModal(descModal, i)"></qrcode>
                        </div>
                    </div>
                </accordion-group>
            </div>
        </accordion>
    </div>
    <div *ngIf="!lstAttestation[0]">
        <h1 class="text-center mt-5 px-4">Ne circulez pas !<br>Il n'y a rien à voir !</h1>
        <div class="d-flex justify-content-center">
            <img src="assets/noattest.png" class="my-5 w-75">
        </div>
    </div>
</ion-content>
<ng-template #descModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left m-0">Détail de l'attestation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <h3 class="mb-2 mt-3"><fa-icon [icon]="faFont.faAddressCard" class="mr-2"></fa-icon>Nom</h3>
        <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).nom}}</h4>
        <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faUser" class="mr-2"></fa-icon>Nom</h3>
        <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).prenom}}</h4>
        <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faBirthdayCake" class="mr-2"></fa-icon>Naissance</h3>
        <h4 class="ml-3 my-0">{{moment(auth.getUser(selectAttest.profil).dateNaissance).format('DD/MM/YYYY') + ' à ' + auth.getUser(selectAttest.profil).lieuNaissance}}</h4>
        <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faMapMarkedAlt" class="mr-2"></fa-icon>Adresse</h3>
        <h4 class="ml-3 my-0">{{auth.getUser(selectAttest.profil).adresse + ' ' + auth.getUser(selectAttest.profil).codePostal + ' ' + auth.getUser(selectAttest.profil).ville}}</h4>
        <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faClock" class="mr-2"></fa-icon>Sortie</h3>
        <h4 class="ml-3 my-0">{{moment(selectAttest.sortie).format('DD/MM/YYYY') + ' à ' + moment(selectAttest.sortie).format('HH:mm')}}</h4>
        <h3 class="mb-2 mt-4"><fa-icon [icon]="faFont.faDoorOpen" class="mr-2"></fa-icon>Motifs</h3>
        <h4 class="ml-3 my-0">{{getLstMotifs(selectAttest.motifs)}}</h4>
    </div>
</ng-template>
