<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Attestations récurentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding-top ion-padding-horizontal">
  <a class="btn btn-outline-info mb-3" [routerLink]="['/recurente/create']"><fa-icon [icon]="faFont.faPlus" class="mr-2"></fa-icon>Nouvelle attestation</a>
  <h3>Liste des attestations</h3>
  <accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group *ngFor="let attest of lstAttestation; index as i" [heading]="attest.titre">
      <h4>{{auth.getUser(attest.profil).prenom + ' ' + auth.getUser(attest.profil).nom + ' ' + auth.getUser(attest.profil).label}}</h4>
      <div class="joursBtns d-flex ion-justify-content-around">
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Monday')}" style="width: 2rem; height: 2rem;">L</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Tuesday')}" style="width: 2rem; height: 2rem;">M</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Wednesday')}" style="width: 2rem; height: 2rem;">M</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Thursday')}" style="width: 2rem; height: 2rem;">J</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Friday')}" style="width: 2rem; height: 2rem;">V</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Saturday')}" style="width: 2rem; height: 2rem;">S</span>
        </label>
        <label class="m-2">
          <span class="p-1 checkmark d-block text-center" [ngClass]="{'jourSelect': attest.jours.includes('Sunday')}" style="width: 2rem; height: 2rem;">D</span>
        </label>
      </div>
      <h4>{{attest.sortie}}</h4>
      <h4><span class="mx-2" *ngFor="let raison of attest.motifs"><fa-icon class="mr-2" [icon]="motifService.getIcon(raisonsAttestation[raison].icon)"></fa-icon>{{raisonsAttestation[raison].titre}}</span></h4>
      <div class="mt-3">
        <button (click)="supprAttest(i)" type="button" class="btn btn-danger mr-2"><fa-icon [icon]="faFont.faTrash" class="mr-2"></fa-icon> Supprimer</button>
      </div>
    </accordion-group>
  </accordion>
</ion-content>
