/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Customize the label (the motifsBtns label) */
.motifsBtns label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.motifsBtns label input, .joursBtns label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: block;
  border: 2px solid;
  border-radius: 10rem;
}
form .checkmark{
  background-color: transparent !important;
}

.accordion-toggle button:focus{
  box-shadow: none;
}

/* On mouse-over, add a grey background color */
.motifsBtns label:hover input ~ .checkmark {
  background-color: #ccc;
}

.motifsBtns label input:checked ~ .checkmark{
  color: white !important;
}
/* When the checkbox is checked, add a blue background */
.motifsBtns label input:checked ~ .checkmark.travail {
  background-color: #673ab7 !important;
}
.motifsBtns label input:checked ~ .checkmark.achats {
  background-color: #795548 !important;
}
.motifsBtns label input:checked ~ .checkmark.sante {
  background-color: #4caf50 !important;
}
.motifsBtns label input:checked ~ .checkmark.famille {
  background-color: #f44336 !important;
}
.motifsBtns label input:checked ~ .checkmark.handicap {
  background-color: #2196f3 !important;
}
.motifsBtns label input:checked ~ .checkmark.sport_animaux {
  background-color: #ffc107 !important;
}
.motifsBtns label input:checked ~ .checkmark.convocation {
  background-color: #3f51b5 !important;
}
.motifsBtns label input:checked ~ .checkmark.missions {
  background-color: #cddc39 !important;
}
.motifsBtns label input:checked ~ .checkmark.enfants {
  background-color: #e91e63 !important;
}

/* Style the checkmark/indicator */
.motifsBtns label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ion-title{
  padding: 0 1rem !important;
}
