<ion-header>
  <ion-toolbar>
    <ion-title class="p-0"><img src="assets/logo.png" class="mr-2 py-1" [style]="{'height': '3rem'}">Pa l'temps 2 niézé !</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="step" class="ion-padding">
  <div *ngSwitchCase="0">

    <h1 class="ion-text-center">Avant de commencer, petits avertissements ! </h1>
    <h6 class="ion-text-center mb-5">Cette application n'étant pas officielle et n'ayant pas pour but d'inciter la population à briser le confinement, veuillez prendre conscience et accepter les points suivants :</h6>
    <ul class="mb-4">
      <li class="mb-3">Il est conseillé de vérifier ses attestations générées avant de sortir.</li>
      <li class="mb-3">Les développeurs de cette application ne sont pas responsables en cas de refus de votre attestation par les forces de l'ordre.</li>
      <li class="mb-3">Vous certifiez que vos déplacements sont liés aux motifs autorisés par le décret n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales nécessaires pour faire face à <i>vous savez quoi*</i> dans le cadre de l'état d'urgence sanitaire.</li>
    </ul>
    <p>* On a pas le droit de dire le nom à cause de Google, c'est comme Voldemort.</p>
    <div class="ion-text-center">
      <a class="btn btn-primary" (click)="step=1">Je suis d'accord</a>
    </div>
  </div>
  <div *ngSwitchCase="1">
    <h2 class="ion-text-center mb-5">Nous allons maintenant créer votre profil</h2>
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <div class="mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" min="0" id="prenom" formControlName="prenom" [ngClass]="setclassinput('prenom')">
      </div>
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" min="0" id="nom" formControlName="nom" [ngClass]="setclassinput('nom')">
      </div>
      <div class="mb-3">
        <label for="dateNaissance" class="form-label">Date de naissance</label>
        <input type="date" class="form-control" min="0" id="dateNaissance" formControlName="dateNaissance" [ngClass]="setclassinput('dateNaissance')">
      </div>
      <div class="mb-3">
        <label for="lieuNaissance" class="form-label">Lieu de naissance</label>
        <input type="text" class="form-control" min="0" id="lieuNaissance" formControlName="lieuNaissance" [ngClass]="setclassinput('lieuNaissance')">
      </div>
      <div class="mb-3">
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" min="0" id="adresse" formControlName="adresse" [ngClass]="setclassinput('adresse')">
      </div>
      <div class="mb-3">
        <label for="ville" class="form-label">Ville</label>
        <input type="text" class="form-control" min="0" id="ville" formControlName="ville" [ngClass]="setclassinput('ville')">
      </div>
      <div class="mb-3">
        <label for="codePostal" class="form-label">Code postal</label>
        <input type="text" class="form-control" min="0" id="codePostal" formControlName="codePostal" [ngClass]="setclassinput('codePostal')">
      </div>
      <div class="mb-4">
        <label for="label" class="form-label">Suffixe</label>
        <input type="text" class="form-control" min="0" id="label" formControlName="label" [ngClass]="setclassinput('label')">
      </div>
      <div class="mb-3">
        <label class="form-label m-0">Nom d'affichage</label>
        <small class="form-text text-muted mt-0 mb-1">Il permet d'identifier votre profil dans l'application, il n'est pas contenu dans vos attestations.</small>
        <input type="text" class="form-control" [disabled]="true" [value]="displayValue()">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Valider</button>
    </form>
  </div>
  <div *ngSwitchCase="2">
    <h2 class="ion-text-center">Bienvenue {{user.prenom}} !</h2>
    <h6 class="mb-5 ion-text-center">Tu peux commencer à générer des attestations !</h6>
    <div class="ion-text-center">
      <a class="btn btn-primary" [routerLink]="['/']">Youpi !</a>
    </div>
  </div>
</ion-content>

